$main-color: red;
@mixin round-corners($radius : 5px){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

#box{
	@include round-corners;
	height: 30px;
	width: 40px;
	background: #FFFFFF;
}

body{
	height: 300px;
	width: 400px;
	background: $main-color;
}

ol{
	background: purple;
	li{
		display: inline;
		margin: 20px;
	}
	
}